body{
	text-align: center;
	font-family: helvetica;
	font-size: 14px;
}

.dark-box{
	background-color: #ebeff2;
	padding: 30px;
	margin-bottom: 30px;
}

.header-text{
	color: red;
	font-size: 60px;
}

.image-border{
	border-color: red;
	border-style: solid;
	border-width: 5px;
	margin: auto;
}

.intro{
	margin: 40px;
}

ul{
    width:70%;;
	margin: auto;
}
